@import url(http://fr.allfont.net/allfont.css?fonts=little-days-alt);
@import "https://fonts.googleapis.com/css?family=Avenir:300,400,500,600,700";

body {
  background-attachment: fixed;
  background-image: url('../img/routedeserte.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font-size: 28px;
}

.littleDays
{
  font-family: 'Little Days Alt', arial;
  font-size: 1.5em;
}

.jumbotron
{
  background : url('../img/passport.jpg') center no-repeat;
  margin-top: -5.1%;
  height: 100vh;
  width: 100.2vw;
  margin-left: -40%;
}

#mainTitle
{
  color: white;
  font-size: 3em;
  margin-top: 7vw;
  margin-bottom: 1vw;
}

#mainSubTitle
{
  color: white;
}

.pageTitle
{
  font-size: 2em;
  margin-bottom: 1vw;
  font-family: 'Avenir', sans-serif;
}

ol, ul {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  outline: none;
}

#header-perso a:link, #header-perso a:visited {
  color: #007bff;
}

#header-perso a:hover, #header-perso a:active {
  color: #0056b3;
}

/*.center {
  text-align: center;
}*/

#who-title {
  font-size: 3em;
  margin-bottom: 50px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container
{
  background-color: #f8f7f3;;
}

/*#header-perso {
  font-size: 18px;
}*/

.chapitre {
  font-family: 'Avenir', serif;
  font-weight: bold;
  color : #265189;
}

.last-posts {
  background-color: transparent;
  padding-top: 50px;
}

.last-posts > h2 {
  font-size: 2.5em;
  margin-bottom: 50px;
}

/*table*/
thead {
  font-weight: bold;
}

tbody tr {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

tbody tr:hover {
  background-color: rgba(205, 200, 255, 0.9);
}

/*Modal*/
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 300ms ease-in;
	-moz-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 30px;
	border-radius: 10px;
	background: #fff;
}

.close {
	color: #000;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 5px;
	text-decoration: none;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

@media all and (max-width: 600px) {

  thead {
    display: none;
  }

  tr, td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}